section {
  font-family: "Comic Neue", cursive;
  margin: auto;
  width: calc(100vw - (100vw - 100%));
  height: 100vh;
  display: flex;
  flex: auto;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: white;
}
