.nav {
  z-index: 10;
  position: fixed;
  display: flex;
  flex: auto;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
  width: 100%;
  height: 5vmax;
}
.nav-btn {
  font-family: "Open Sans Condensed", sans-serif;
  cursor: pointer;
  text-decoration: underline;
  font-size: 2.6vmin;
  padding: 0.6vh 0.1vw;
  margin: 0px;
}
.link {
  padding: 0px;
  margin: 1.5vw;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed&display=swap");
