.card {
  font-family: "Source Code Pro", monospace;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  width: 30vmin;
  height: 30vmin;
  display: flex;
  flex: content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img {
  width: 100%;
  height: auto;
}
.img {
  width: 15vmin;
  height: 15vmin;
}
strong {
  font-size: 2.2vh;
}
.strong {
  /* width: 2rem; */
  padding-top: 10%;
}

@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
